# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Fortran Module Files
*.mod
*.smod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Information Files
*.dwo
build/
.vscode/
html/
latex/
.venv/
*.json
assets/*_output.raw
assets/rect_*.raw

